src/main/webapp/xml/dtd/IMS_METADATAv1p1NS.dtd

<!-- IMS_METADATAv1p1NS.dtd -->
<!-- Copyright (c) 2000 IMS Gobal Learning Consortium, Inc. -->
<!-- IMS Version of the IEEE LTSC LOM 3.5 -->
<!-- The standard version of this document is located at:
		 http://www.imsproject.org/XML/ -->
	<!-- 1999-08-20 Thomas .D. Wason, IMS Project: Completed for release. -->
	<!-- 2000-03-02 TDW: Changed COPYRIGHTOROTHERRESTRICTIONS to copyrightandotherrestrictions -->
	<!-- 2000-04-17 TDW: Under educational language was ? is now * -->
	<!-- 2000-04-19 TDW: Lower case version of IMS Meta-data DTD -->
	<!-- 2000-06-06 TDW: All elements with namespace prefix. Released.-->


<!-- Nothing is mandatory. -->

<!-- HHHHHHHHHHHHH Simple elements HHHHHHHHHHH -->

<!-- extension: The extension element is used to create extensions at anyplace in the XML instantiation.  If the extension contains only elements from this DTD, maintaining those content models, then additional elements do not need to be declared.  It is encouraged that extensions be created from the exisiting library of elements whenever possible.  -->	
<!ELEMENT imsmd:extension ANY>

<!-- language: A Human Language -->
<!ELEMENT imsmd:language (#PCDATA|imsmd:extension)*>

<!-- aggregationlevel: 0..3, 0 = raw media-->
<!ELEMENT imsmd:aggregationlevel (#PCDATA|imsmd:extension)*>

<!-- langstring: A string in a particular language -->
<!ELEMENT imsmd:langstring (#PCDATA|extension)*>
<!ATTLIST imsmd:langstring
 	lang CDATA #IMPLIED>

<!-- String with no defined language.  -->
<!ELEMENT imsmd:STRING (#PCDATA|imsmd:extension)*>

<!-- catalogue: a reference index or listing -->
<!ELEMENT imsmd:catalogue (#PCDATA|imsmd:extension)*>

<!-- datetime: Date or time Per  W3C, e.g., 1999-08-07 -->
<!ELEMENT imsmd:datetime (#PCDATA|imsmd:extension)*>

<!-- difficulty: A scale of 0..4, 0 = Very Easy -->
<!ELEMENT imsmd:difficulty (#PCDATA|imsmd:extension)*>

<!-- The metadatascheme value should include version. -->
<!ELEMENT imsmd:metadatascheme (#PCDATA|imsmd:extension)*>

<!-- size: Integer, in bytes -->
<!ELEMENT imsmd:size (#PCDATA|imsmd:extension)*>

<!-- location: an Ordered list of places -->
<!ELEMENT imsmd:location (#PCDATA|imsmd:extension)*>
<!ATTLIST imsmd:location 
    type (URI|TEXT) "URI">

<!-- minimumversion: the lowest or earliest -->	
<!ELEMENT imsmd:minimumversion (#PCDATA|imsmd:extension)*>

<!-- maximumversion: the highest or latest -->
<!ELEMENT imsmd:maximumversion (#PCDATA|imsmd:extension)*>

<!-- interactivitylevel: a scale of 0..4, 0 = Very Low -->
<!ELEMENT imsmd:interactivitylevel (#PCDATA|imsmd:extension)*>

<!-- semanticdensity: number of concepts as a fucntion of size of the resource. Scale of 0..4, 0 = Low -->
<!ELEMENT imsmd:semanticdensity (#PCDATA|imsmd:extension)*>

<!-- source: authoratative generator -->
<!ELEMENT imsmd:source (#PCDATA|imsmd:extension)*>

<!-- id: An alphanumeric identifier -->
<!ELEMENT imsmd:id (#PCDATA|imsmd:extension)*>

<!-- vcard: a STRING per vCard specification -->
<!ELEMENT imsmd:vcard (#PCDATA|imsmd:extension)*>

<!-- HHHHHHHHHHHHHH Elements with content models of elements HHHHHHHHHHH -->

<!-- cost: is there?  A Boolean, yes|no -->
<!ELEMENT imsmd:cost (imsmd:langstring*, imsmd:extension?)>

<!-- copyrightandotherrestrictions: are there any use restrictions? A Boolean, yes|no -->
<!ELEMENT imsmd:copyrightandotherrestrictions (imsmd:langstring*, imsmd:extension?)>

<!-- intendedenduserrole: Teacher, Author, Learner, Manager -->
<!-- Ordered list -->
<!ELEMENT imsmd:intendedenduserrole (imsmd:langstring*, imsmd:extension?)>

<!-- interactivitytype: Direction of information flow between user and resource -->
<!ELEMENT imsmd:interactivitytype (imsmd:langstring*, imsmd:extension?)>

<!-- format, technical:MIME or non-digital -->
<!ELEMENT imsmd:format (imsmd:langstring*, imsmd:extension?)>

<!-- status: state, e.g., preliminary, draft, final, terminated -->
<!ELEMENT imsmd:status (imsmd:langstring*, imsmd:extension?)>

<!-- structure: Logical structure, e.g., atomic, hierachical, linear, parceled, network -->
<!ELEMENT imsmd:structure (imsmd:langstring*, imsmd:extension?)>

<!-- centity: The is the ENTITY element.  The word ENTITY is reserved within XML, so the name has been changed to centity to stand for "Contributing Entity".   -->
<!-- Ordered list -->
<!ELEMENT imsmd:centity (imsmd:vcard?,imsmd:extension?)>

<!-- entry: an alphanumeric string, normally human readable -->
<!ELEMENT imsmd:entry (imsmd:langstring*, imsmd:extension?)>

<!-- purpose: reason or use -->
<!ELEMENT imsmd:purpose (imsmd:langstring?, imsmd:extension?)>

<!-- title: brief descriptive string -->
<!ELEMENT imsmd:title (imsmd:langstring*, imsmd:extension?)>

<!-- description: A textual summary. -->
<!ELEMENT imsmd:description (imsmd:langstring*, imsmd:extension?)>

<!-- keywords: Decriptive words and/or phrases.  One keyword or keyphrase per langstring -->
<!ELEMENT imsmd:keywords (imsmd:langstring*, imsmd:extension?)>

<!-- coverage: Span, e.g., Spatial, temporal, cultural -->
<!ELEMENT imsmd:coverage (imsmd:langstring*, imsmd:extension?)>

<!-- version: edition -->
<!ELEMENT imsmd:version (imsmd:langstring?, imsmd:extension?)>

<!-- type: specifies kind -->
<!ELEMENT imsmd:type (imsmd:langstring?, imsmd:extension?)>

<!-- name: Textual designation -->
<!ELEMENT imsmd:name (imsmd:langstring?, imsmd:extension?)>

<!-- installationremarks: technical notes how to import or set up -->
<!ELEMENT imsmd:installationremarks (imsmd:langstring?, imsmd:extension?)>

<!-- otherplatformrequirements: technical notes -->
<!ELEMENT imsmd:otherplatformrequirements (imsmd:langstring?, imsmd:extension?)>

<!-- role: Kind of participation or contribution -->
<!ELEMENT imsmd:role (imsmd:langstring?, imsmd:extension?)>

<!-- learningresourcetype: Educationally specific resource type.  Ordered list -->
<!ELEMENT imsmd:learningresourcetype (imsmd:langstring?, imsmd:extension?)>

<!-- learningcontext: Primary Education, Secondary Education, Higher Education, University First Cycle, University Second Cycle, University Postgrade, Technical School First Cycle, Technical School Second Cycle, Professional Formation, Continuous Formation, Vocational Training, Other -->
<!ELEMENT imsmd:learningcontext (imsmd:langstring?, imsmd:extension?)>

<!-- typicalagerange: typical ages of intended users -->
<!ELEMENT imsmd:typicalagerange (imsmd:langstring?, imsmd:extension?)>

<!-- kind: type or role -->
<!ELEMENT imsmd:kind (imsmd:langstring?, imsmd:extension?)>

<!-- taxon: a specific node ata specific level in a taxonomy. An ordered list of taxons comprise a taxonpath-->
<!ELEMENT taxon (imsmd:id?, imsmd:entry?, imsmd:extension?)>

<!-- date: calendar and/or clock instant.  date may be repeated when both DateTime and Description are used. -->
<!ELEMENT imsmd:date (imsmd:datetime?, imsmd:description?, imsmd:extension?)>

<!-- duration: temporal span -->
<!ELEMENT imsmd:duration (imsmd:datetime?, imsmd:description?, imsmd:extension?)>

<!ELEMENT imsmd:typicallearningtime (imsmd:datetime?, imsmd:description?, imsmd:extension?)>

<!-- taxonpath: A taxonomic path of taxon nodes in a specific classification or txonomy.  Taxonomies are typically hierachies of tems or phases with increasinly finer resolutions deeper in the taxonpath.  There may be different paths, in the same or different classifications, that describe the same characteristic. -->
<!ELEMENT imsmd:taxonpath (imsmd:source?, imsmd:taxon*, imsmd:extension?)>

<!-- catalogentry: a specific entry from a specific catalogue or index.  Ordered list -->
<!ELEMENT imsmd:catalogentry (imsmd:catalogue?, imsmd:entry?, imsmd:extension?)>

<!-- contribute: Type of contribution or participation as defined by Role -->
<!ELEMENT imsmd:contribute (imsmd:role?, imsmd:centity*, imsmd:date?, imsmd:extension?)>

<!-- resource: a specific target resource in a relation -->
<!ELEMENT imsmd:resource (imsmd:description?, imsmd:extension?)>

<!-- requirements: specific needs for use.  Usually technical -->
<!ELEMENT imsmd:requirements (imsmd:type?, imsmd:name?, imsmd:minimumversion?, imsmd:maximumversion?, imsmd:extension?)>

<!-- HHHHHHHHHHHHHHH  Category Elements HHHHHHHHHHHHHHH  -->

<!-- annotation is a category element -->
<!-- Evaluations or comments. -->
<!ELEMENT imsmd:annotation (imsmd:centity?, imsmd:date?, imsmd:description?, imsmd:extension?)>

<!-- classification is a category element -->
<!-- Description or catalogueing of a characteristic. -->
<!ELEMENT imsmd:classification (imsmd:purpose?, imsmd:taxonpath*, imsmd:description?, imsmd:keywords*, imsmd:extension?)>

<!-- educational is a Category element. -->
<!-- Educational or pedagogic features of the resource. -->
<!-- 2000-04-17. language was ? is now * -->
<!ELEMENT imsmd:educational (imsmd:interactivitytype?, imsmd:learningresourcetype*, imsmd:interactivitylevel?, imsmd:semanticdensity?, imsmd:intendedenduserrole*, imsmd:learningcontext*, imsmd:typicalagerange*, imsmd:difficulty?, imsmd:typicallearningtime?, imsmd:description?, imsmd:language*, imsmd:extension?)>

<!-- Category element general -->
<!-- Context-independent features of the resource. -->
<!ELEMENT imsmd:general (imsmd:title?, imsmd:catalogentry*, imsmd:language*, imsmd:description*, imsmd:keywords*, imsmd:coverage*, imsmd:structure?, imsmd:aggregationlevel?, imsmd:extension?)>

<!-- Category Element lifecycle -->
<!-- Features related to the life cycle of the resource. -->
<!ELEMENT imsmd:lifecycle (imsmd:version?, imsmd:status?, imsmd:contribute*, imsmd:extension?)>

<!-- metametadata is a category element -->
<!-- Features of the description rather than the resource. -->
<!ELEMENT imsmd:metametadata (imsmd:catalogentry*, imsmd:contribute*, imsmd:metadatascheme*, imsmd:language?, imsmd:extension?)>

<!-- relation is a category element -->
<!-- Features of the resource in relationship to other resources. -->
<!ELEMENT imsmd:relation (imsmd:kind?, imsmd:resource?, imsmd:extension?)>

<!-- rights is a category element -->
<!-- Conditions of use of the resource. -->
<!ELEMENT imsmd:rights (imsmd:cost?, imsmd:copyrightandotherrestrictions?, imsmd:description?, imsmd:extension?)>

<!-- technical is a category element -->
<!-- Technical features of the resource. -->
<!ELEMENT imsmd:technical (imsmd:format?, imsmd:size?, imsmd:location*, imsmd:requirements*, imsmd:installationremarks?, imsmd:otherplatformrequirements?, imsmd:duration?, imsmd:extension?)>

<!-- HHHHHHHHHHHHHH ROOT ELEMENT HHHHHHHHHHHHHHHHH -->

<!-- record is the Root element -->
<!ELEMENT imsmd:record (imsmd:metametadata?, imsmd:general?, imsmd:lifecycle?, imsmd:technical?, imsmd:educational?, imsmd:rights?, imsmd:relation*, imsmd:annotation*, imsmd:classification*, imsmd:extension?)>
<!ATTLIST imsmd:record 
	xmlns:imsmd CDATA #IMPLIED "http://www.imsproject.org/metadata/">
	