src/main/webapp/xml/dtd/scormcsf(1.1)_SlashAndBurn.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!--Generated by XML Authority-->

<!ELEMENT content (globalProperties? , block)>

<!--*** globalProperties: Properties of the content as whole-->
<!ELEMENT globalProperties (externalMetadata+ , curricularTaxonomy?)>

<!--*** block: A grouping of related structural elements.
		Blocks contain sharable content objects or other blocks.
		Blocks always contain other content elements.
		This holds a unique (to this content) ID indentifier 
		for a particular block.
		ID's are generated by the application (e.g., an LMS) 
		that creates a CSF XML document
		(other elements may refer to this unique ID)-->
<!ELEMENT block ((externalMetadata* , identification , prerequisites? , (sco | block)+) | blockAlias)>
<!ATTLIST block  id ID  #REQUIRED >
<!--*** externalMetadata: The value of this element refers or points to the
		location of the metadata document describing this content.-->
<!ELEMENT externalMetadata (source , model , location)>

<!--*** curicularTaxonomy: Organizational methodology used to construct the
		content.-->
<!ELEMENT curricularTaxonomy (source? , model , location?)>

<!--*** indetification: Identifies content context-specific information-->
<!ELEMENT identification (title , description? , labels?)>

<!--*** prerequisites: Expression indicating what a student 
		must accomplish before beginning this content element.
		Content elements that a student must complete before beginning 
		a block or sharable content object. It uses a "script" that defines 
		the logical rules to be applied. The script type must be
		defined.
		e.g., <prerequisites type="aicc_script"> <![CDATA[B1&B2&A1]]> 
		</prerequisites> -->
<!ELEMENT prerequisites (#PCDATA)>
<!ATTLIST prerequisites  type CDATA  #IMPLIED >
<!--*** sco: An SCO is the smallest element of instruction or testing to 
		which a student may be routed by a LMS. It refers to "content" 
		launched by the LMS system.
		This holds an unique (to this course) ID indentifier.
		For a particular SCO, ID's are generated by the application
		(e.g., an LMS) that creates a CSF XML file (other elements
		may refer to this unique ID)-->
<!ELEMENT sco ((externalMetadata* , identification , prerequisites? , timeLimit? , launch? , masteryScore?) | scoAlias)>
<!ATTLIST sco  id ID  #REQUIRED >
<!--*** blockAlias: Reference to a previously defined block (permits one
		block to be used more than once within a content structure)-->
<!ELEMENT blockAlias EMPTY>
<!ATTLIST blockAlias  targetID IDREF  #IMPLIED >
<!--*** source: Describes the source or originator of a given practice or 
		specification to which this content adheres.  
		e.g., "ADL CSF", or "AICC CMI", or "IEEE LOM" -->
<!ELEMENT source (#PCDATA)>

<!--*** model: Name of a specific data model used by this content
		e.g., "cmi", or "ARMY314", or "IMS v1.0"-->
<!ELEMENT model (#PCDATA)>

<!--*** location: URI Location-->
<!ELEMENT location (#PCDATA)>

<!--*** title: Context specific title.  May be used by an LMS system in
		menus, screens, etc.-->
<!ELEMENT title (#PCDATA)>

<!--*** description: Context specific textual information about the content
		element.  It may contain the purpose, scope, or summary.
		(Defined by course author)-->
<!ELEMENT description (#PCDATA)>

<!--*** labels: Context specific local label (e.g., unit, charpter, 
		learning step)-->
<!ELEMENT labels (curricular? , developer?)>

<!--*** Time values or actions associated with this sco in this context-->
<!ELEMENT timeLimit (maxTimeAllowed? , timeLimitAction?)>

<!--***launch: Information needed by an LMS to launch a sco-->
<!ELEMENT launch (location , parameterString? , dataFromLMS?)>

<!--*** score: Values to be used in this content context for tracking 
		score within a sco-->
<!ELEMENT masteryScore (#PCDATA)>

<!--*** auAlias: Reference to a previously defined sco (permits one sco to
		be used more than once within the content-->
<!ELEMENT scoAlias EMPTY>
<!ATTLIST scoAlias  targetID IDREF  #IMPLIED >
<!--*** curricular label: Local name of the content element
		e.g., "UNIT", "MODULE", "LEARNING STEP"-->
<!ELEMENT curricular (#PCDATA)>

<!--*** developer label: an organization-specific identifier (e.g., D509)-->
<!ELEMENT developer (#PCDATA)>

<!--*** maxTimeAllowed: The amount of time the student is allowed
		to have in the current attempt on the sco.-->
<!ELEMENT maxTimeAllowed (#PCDATA)>

<!--*** timeLimitAction: What the sco is to do when the max time 
		allowed is exceeded. AICC examples: "exit,no message", 
		"continue,no message", "exit,message", "continue,message".-->
<!ELEMENT timeLimitAction (#PCDATA)>

<!--*** parameterString: String of characters needed to successfully 
		launch a sco-->
<!ELEMENT parameterString (#PCDATA)>

<!--*** dataFromLMS: unconstrained (undefined) intialization data expected
		by the sco when it is launched by the LMS.-->
<!ELEMENT dataFromLMS (#PCDATA)>

